* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.main-site-div {
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

/* MODAL STYLING ELEMENTS BELOW */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000083;
  z-index: 1;
}

.modal-child {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 40%;
  width: 50%;
  background-color: salmon;
  color: #fff;
  padding: 4rem;

  animation: childUpFromBottom 1s ease-out 0.5s;
}

.exit-modal-btn {
  border: none;
  background: none;
  font-size: 2.5rem;
  color: #ffffff87;
}

.modal-content {
  text-align: center;
}

.modal-header {
  font-size: 4.5rem;
  margin-bottom: 3.5rem;
}

.modal-text {
  font-size: 2.25rem;
  margin-bottom: 3.5rem;
}

.claim-now-btn {
  border: none;
  background-color: #fff;
  color: salmon;
  font-size: 2rem;
  height: 4rem;
  width: 20rem;
}

/* MODAL ANIMATIONS AND ANIMATION CLASSES BELOW */
.fade-in {
  animation: fadeOpacityIn 1s ease-out;
}

.fade-out {
  animation: fadeOpacityOut 1s ease-out;
}

@keyframes fadeOpacityIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOpacityOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.child-in {
  animation: childUpFromBottom 1s ease-out;
}

.child-out {
  animation: childDownToBottom 1s ease-out;
}

@keyframes childUpFromBottom {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }

  1000% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes childDownToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(150%);
  }
}
